{% extends 'base.html' %} {% block content %}
<div class="container bag">
    <div class="row">
        <div class="col-sm">

            {% if items_in_bag > 0 %}

            <p class="baghead">My Shopping Bag (items {{items_in_bag}}) &nbsp &nbsp<span> Total: €{{grd_total}}</span></p>
        </div>
    </div>
    <hr> {% for item in bag_items %}
    <div class="row pdetails_bag">

        <div class="col-sm-3">


            <img class="img_bag" src="{{ MEDIA_URL }}{{ item.image}}" />
        </div>
        <div class="col-sm-6 bag_details">
            <p>{{ item.name }}</p>
            <p>sold by : {{ item.brand }}</p>
            <p>Size : {{ item.size }} &nbsp &nbsp Qty : {{ item.quantity }}</p>
            <p>Price : €{{ item.price }} </p>

        </div>
        <div class="col-sm-3 bag_details">
            <p>Total : €{{ item.total }} </p><br>
            <form method="post" action="{% url 'remove_item' item.id%}">
                {% csrf_token %}
                <input type="hidden" name="size" value="{{item.size}}" />
                <input type="submit" class="btn btn-primary" value="Remove" />
            </form>
        </div>



    </div>
    <hr> {% endfor %}

    <div class="row">
        <div class="col-sm">

            <a href="{% url 'place_order' %}" class="btn btn-primary placeorder" role="button">Place Order</a>
        </div>
    </div>
    {% else %}
    <div class="row" id="main1">
        <div class="col-sm">
            <p class="baghead">Your Bag is empty !</p>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}
