{% extends 'base.html' %}

{% block content %}

{% if items_in_bag > 0 %}

<h3>My Shopping Bag (items {{items_in_bag}})</h3>

<table class="table">
    <thead>
        <tr>
            <th></th>    
            <th>Product</th>    
            <th>Quantity</th>  
            <th>Size</th>
            <th>Price</th>
            <th>Total</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        
       {% for item in bag_items %}
       
        <tr>
            <td><img class="img_bag" width="150" height="75" src="{{ MEDIA_URL }}{{ item.image}}"/></td>    
            <td>{{ item.name }}</td>    
            <td>{{ item.quantity }}</td>
            <td>{{ item.size }}</td>
            <td>€{{ item.price }}</td>
            <td>€{{ item.total }}</td>
            <td><form method="post" action="{% url 'remove_item' item.id%}">
                {% csrf_token %}
                <input type="hidden" name="size" value="{{item.size}}"/>
                <input type="submit" class="btn btn-success" value="Remove"/>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
           <td></td>
           <td></td>
           <td></td>
           <td><strong>Total:</strong></td>
           <td><strong>{{grd_total}}</strong></td>
           <td></td>
       </tr>
    </tbody>
</table>

<a href="{% url 'place_order' %}" class="btn btn-success" role="button">Place Order</a>
{% else %}

<p>Your Bag is empty</p>

{% endif %}


{% endblock %}