body {
    font-family: Arial;
    padding-top: 100px;
}
.navbar-default {
    background-color: #ffffcc;
        
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

img{
    height: 200px;
}
.navbar-default .navbar-brand {
 color: #0059b3;
}

.icon-bar {
    background-color: #a3a375;
}

.accountform {
    padding-top: 20px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 15px;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.btn-group>.btn, .btn-group-vertical>.btn {
    position: relative;
     float: none; 
}
#quantity{
    width: 38px;
}