body {


  /*padding-top: 100px;*/
}

.navbar-default .navbar-brand {
  color: black;
  font-weight: bolder;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: blue;

}

.navbar-default .navbar-nav>li>a {
  color: black;
  font-size: 15px;
  font-family: 'Hind Madurai', sans-serif;

}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: blue;

}

.dropdown-menu>li>a {
  color: black;
  background-color: white;
}

.navbar-brand>img {
  padding-left: 200px;
  display: inline-block;
}

.nav {
  padding: 10px 10px;
  padding-left: 200px;
}

.navbar-brand {
  color: black;
  font-family: 'Hind Madurai', sans-serif;
  float: left;
  height: 70px;
  padding: 10px 10px;
  font-size: 25px;
  line-height: 20px;
  display: inline-block;
}

.navbar-collapse {
  background-color: white;
}

.spacer {

  height: 85px;
}

.navbar-default {
  background-color: transparent;
  position: fixed;
  border-color: transparent;

}

.logo {
  display: inline-block;
}

.homepic img {
  max-width: 100%;
}

.homepic {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  top: 150px;
  left: 40px;
  font-family: 'Merienda', cursive;
  color: red;
  font-size: 40px;
}

.lines {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.redlines {
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
  font-family: 'Merienda', cursive;
  color: red;
}

.categories {
  position: relative;
  /*text-align: center;*/
  box-sizing: border-box;
}

.cat-row {
  background-color: #ff5050;
  padding-top: 20px;

}

.cat {

  /*float: left;*/
  /*width: 33.33%;*/
  padding-left: 15px;
  padding-bottom: 30px;
  text-align: center;

}

.cat img {
  max-width: 100%;

}

.row::after {
  content: "";
  clear: both;
  display: table;
}



.product_logo_row .col-sm-3 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 20Px;
  margin-bottom: 30px
}

.product_logo img {
  max-width: 100%;
}
.footstatements{
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#container {
  min-height: 100%;
}

#main {

  overflow: auto;
  padding-bottom: 180px;

}

#main1 {
  padding-bottom: 400px;
}

/*footer {*/

/*  position: relative;*/

/*  margin-top: -180px;*/

/*  height: 180px;*/

/*  clear: both;*/

/*  bottom: 0px;*/

/*} */

footer {
  position: relative;
  bottom: 0px;
  margin-top: -180px;
  height: 120px;
  padding-top: 100px;
  clear: both;
  border-top: 1px solid #ededed;
  color: #A9A9A9;
  font-family: 'Josefin Sans', sans-serif;
}

.footer_social {
  font-size: 30px;
  padding-left: 10px;
  color: black;
}

.footpara {
  font-size: 15px;
  font-weight: 100;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.footheadr {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.footicon {
  font-size: 30px;
  color: black;

}

.img_shows {
  height: 200px;
}

.img_bag {
  height: 200px;
  width: 150px;
}


.icon-bar {
  background-color: #a3a375;
}

.accountform {
  padding-top: 20px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 15px;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.btn-group>.btn,
.btn-group-vertical>.btn {
  position: relative;
  float: none;
}

#quantity {
  width: 38px;
}

/***********************************************************************/

/*Style the images inside the grid */

.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.selected_color {
  background-color: red;
}

/*****************************image slide show*********************/

.modal {
  display: none;
  /*position: fixed;*/
  /*z-index: 1;*/
  padding-top: 30px;
  left: 15%;
  top: 0;
  width: 70%;
  height: 90%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 75%;
  height: 75%;
  /*max-width: 1200px;*/
}

/* The Close Button */

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  padding-left: 25%;
  width: 700px;
  height: 800px;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides img {
  margin-bottom: -4px;
  max-width: 100%;
  height: 600px;
}



.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/***************************************size-chart*****************************************/

.modal_size {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 15%;
  top: 10%;
  width: 70%;
  height: 80%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */

.modal-content_size {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */

.close_size {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close_size:hover,
.close_size:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.sizeChartWeb-table {
  border: 1px solid #D5D6D9;
  border-collapse: collapse;
  margin: 0 auto;
}

.sizeChartWeb-row:nth-child(odd) {
  background-color: #F5F5F6;
}

.sizeChartWeb-cell {
  padding: 10px 5px;
  text-align: center;
  border: 1px solid #D5D6D9;
}

.size {
  max-width: 100%;
  text-align: center;
}

/******************************************/

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/****************************************************************************/

.signupcontainer {
  padding: 36px;
}

.signup {
  background-color: #ffccff;
  font-family: 'Josefin Sans', sans-serif;
  width: 500px;
  margin-top: 50px;

}

.signup button {
  background-color: #ff0066;
  color: black;
  font-weight: bold;
}

.container-fluid {
  margin-top: 100px;

}

.thumbnail {
  width: 300px;
  height: 500px;
  font-family: 'Josefin Sans', sans-serif;

}

.thumbnail img {
  max-width: 100%;
}

.prod {
  text-align: center;
}

.caption a {
  color: black;
}

.imgcontainer {
  height: 400px;
}

.productdetails {
  font-family: 'Josefin Sans', sans-serif;
}

.pdetails {
  font-weight: bold;
}

.sizepara {
  font-size: 25px;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
}

.scaleAndUnits-unitText {
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
}

table {
  width: 300px;
  height: 200px;
}

.ProdFormcontainer {
  padding: 36px;
}

.ProdForm {
  background-color: #ffccff;
  font-family: 'Josefin Sans', sans-serif;
  width: 700px;
  margin-top: 50px;
}

.ProdForm button {
  background-color: #ff0066;
  color: black;
  font-weight: bold;
}

.btn-primary {
  color: black;
  font-weight: bold;
  background-color: #ff0066;
}

.baghead {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.placeorder {
  float: right;
}

.bag {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  width: 800px;
}

.pdetails_bag {
  text-align: center;
}

.bag_details {
  padding-top: 25px;
}

.placeorderform {
  background-color: #ffccff;
  font-family: 'Josefin Sans', sans-serif;
  width: 800px;
}

@media only screen and (max-width: 1024px) {
  .spacer {
    height: 105px;
  }
  .navbar-brand>img {
    padding-left: 25px;

  }
  .signup {
    margin-top: 100px;
  }
  .ProdForm {
    margin-top: 100px;
  }
  .modal_size {
    height: 65%;
  }
  .modal {
    height: 70%;
  }
  .mySlides {
    padding: 30px;
  }
  .mySlides img {
    height: 800px;
  }
  #container {
    min-height: 80%;
  }
  #main {
    overflow: auto;
    padding-bottom: 120px;
  }
  #main1 {
    padding-bottom: 800px;
  }
  footer {
    position: relative;
    margin-top: -100px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .spacer {
    height: 135px;
  }
  .top-left {
    
    left: 10px;
    font-size: 30px;
}
  
  .thumbnail {
    width: 230px;
    height: 410px;
    }
  
  .imgcontainer {
  height: 300px;
  
}
  .pimageall{
    padding-top: 25px;
  }
  .review{
    padding-bottom: 25px;
  }
  .modal_size {
    height: 75%;
}
  
.modal {
    height: 90%;
    width: 93%;
    left: 5%;
  }
  .bag{
    width: 700px;
    padding-bottom: 30px;
  }
  .placeorderform {
  
  width: 700px;
 
}
  .ProdForm{
    padding-bottom: 20px;
  }
  
  #main1 {
    padding-bottom: 600px;
}
  .signup {
    margin-top: 60px;
}
  
}
@media only screen and (max-width: 479px) {

  .navbar-default {
    background-color:white;
   
}
.spacer {
    height: 100px;
}
  .top-left {
    position: absolute;
    top: 45px;
    left:0px;
    
    font-size: 18px;
}
  .cat img {
    width: 150px;
    height: 102px;
}
  .cat {
    float: left;
    padding-left: 15px;
}
  .card img{
    width: 100px;
    height: 100px;
  }
  
  .plogo{
    float: left;
    padding-left: 50px;
  }
  
  .foot_discpn{
    display: none;
  }
  
  .footstmtmob{
    display: none;
  }
  .productdetails{
    
    text-align: center;
  }
  
  .imgcontainer{
    margin-left: 35px;
     text-align: center;
  }
  
  .sizechartbutn{
    padding-top: 10px;
  }
 table{
   width: 250px;
 }
  .modal_size{
    width: 90%;
    left: 3%;
  }
  .modal{
    padding-top: 25px;
    width: 90%;
    /*left: 3%;*/
    height: 60%;
  }
  .mySlides{
    padding: 3px;
    width: 85%;
  }
  .mySlides img{
    padding-top: 25px;
    width: 315px;
    height: 365px;
    
    padding-left: 35px;
    
  }
  .prev{
    
    left: 6px;
  }
  .img_shows{
    width: 100px;
    height: 133px;
  }
  .review_sec{
    display: none;
  }
  .bag {
    width: 350px;
    padding-bottom: 30px;
}
  .signup {
    width: 350px;
  }
  .ProdForm{
    width: 350px;
  }
  .placeorderform{
    width: 350px;
  }
  .pbrand_inlist{
    display: none;
  }
  
}



