body {
    
    /*padding-top: 100px;*/
}
.navbar-default .navbar-brand {
    color: black;
    font-weight: bolder;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: blue;
    
}
.navbar-default .navbar-nav>li>a {
    color:black;
    font-size: 15px;
  font-family: 'Hind Madurai', sans-serif;
    
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: blue;
   
}
.dropdown-menu>li>a{
  color:black;
  background-color: white;
}

.navbar-brand>img {
  padding-left: 200px;
    display: inline-block;
}
.nav{
  padding: 10px 10px; 
  padding-left: 200px;
}

.navbar-brand {
  color:black;
  font-family: 'Hind Madurai', sans-serif;
    float: left;
     height: 70px; 
     padding: 10px 10px; 
    font-size: 25px;
    line-height: 20px;
      display: inline-block;
}
.navbar-collapse{
      background-color: white;
}
.spacer {

        height: 85px;
    }
.navbar-default {
    background-color: transparent;
    position: fixed;
    border-color: transparent;
        
}

.logo{
  display: inline-block;
}
.homepic img{
  max-width: 100%;
}
.homepic{
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 150px;
  left: 40px;
  font-family: 'Merienda', cursive;
  color: red;
  font-size: 40px;
}
.lines{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
.redlines{
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
  font-family: 'Merienda', cursive;
  color: red;
}
.categories{
  position: relative;
  /*text-align: center;*/
  
  box-sizing: border-box;
}
.cat-row{
  background-color: #ff5050;
  padding-top: 20px;
  
}
.cat{
  
  /*float: left;*/
  /*width: 33.33%;*/
  padding-left:15px;
  padding-bottom: 30px;
      text-align: center;
 
}
.cat img{
   max-width: 100%;
   
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



.product_logo_row .col-sm-3 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 20Px;
    margin-bottom: 30px
}

.product_logo img {
    max-width: 100%;
}
footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
    font-family: 'Josefin Sans', sans-serif;
}
.footer_social{
  font-size: 30px;
  padding-left: 10px;
  color:black;
}
.footpara{
  font-size: 15px;
  font-weight: 100;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}
.footheadr{
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.footicon{
  font-size: 30px;
  color: black;
  
}
.img_shows{
    height: 200px;
}
.img_bag{
  height: 100px;
  width: 100px;
}


.icon-bar {
    background-color: #a3a375;
}

.accountform {
    padding-top: 20px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 15px;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.btn-group>.btn, .btn-group-vertical>.btn {
    position: relative;
     float: none; 
}
#quantity{
    width: 38px;
}
/***********************************************************************/

 /*Style the images inside the grid */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

.selected_color{
    background-color: red;
}
/*****************************image slide show*********************/
.modal {
  display: none;
  /*position: fixed;*/
  /*z-index: 1;*/
  padding-top:50px;
  left: 15%;
  top: 0;
  width: 70%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 95%;
  height: 95%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  padding-left:25%;
  width: 700px;
  height: 800px;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides img {
  margin-bottom: -4px;
  width: 100%;
  height: 600px;
}



.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/***************************************size-chart*****************************************/
.modal_size {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top:50px;
  left: 15%;
  top: 10%;
  width: 70%;
  height: 80%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content_size {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close_size {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close_size:hover,
.close_size:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.sizeChartWeb-table {
    border: 1px solid #D5D6D9;
    border-collapse: collapse;
    margin: 0 auto;
}
.sizeChartWeb-row:nth-child(odd) {
    background-color: #F5F5F6;
}
.sizeChartWeb-cell {
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #D5D6D9;
}
.size{
  height: 100%;
  width: 100%;
}
/******************************************/
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-menu a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: block;
}