

{% extends "base.html" %}

{% block content %}
    <div class=" container container-fluid">
    <div class="row">
    {% for p in product %}
                    <div class="col-sm-4 prod">
                        <div class="thumbnail hvr-glow">
                            <a href="{% url 'product_details' p.id %}"><img src="{{MEDIA_URL}}{{p.image}}"></a>
                            <div class="caption">
                                <h4 class="pull-right">€{{p.price}}</h4>
                                <h4><a href="{% url 'product_details' p.id %}">{{p.name}}</a>
                                </h4>
                                <p>{{p.brand}}</p>
                                
                                
                                
                            </div>
                        </div>
                    </div>
    {% endfor %}
    </div>
    </div>
    
{% endblock content %}