<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="myModal_size" class="modal_size">
  <span class="close_size cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content_size">
<p>Size Options</p>

<div class="col">
                        <table align="center" class="service-table">
                            <tr>
                                <td class="column1">
                                    Women's Haircut
                                </td>
                                <td class="column2">
                                    $75-85
                                </td>
                            </tr>
                            </table>
                            </div>

    </div>
    </div>
  
  <script>
      
      
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}
      
  </script>  

</body>
</html>